<nav>
    <% if (role == "manager") { %>
    <a href="/staff_admin">Staff</a>
    <a href="/product_admin">Product admin</a>
    <a href="/changelog">Changelog</a>
    <a href="/order_admin">Orders</a>
    <% } else if (role == "stock") { %>

    <% } else if (role == "sales") { %>
    <a href="/order_admin">Orders</a>
    <% } %>
   
    <a href="/staff_logout">Logout</a>
</nav>
