<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("partials/head.ejs") %>
        <title>The Mobile Hour - Home</title>
    </head>
    <body>
        <main id="home-section">
            <%- include("partials/header.ejs") %> 
     
            <section  class="button-wide-button">
              <h2 class="title">
                New Products released!
              </h2>
              
              <a href="/product_list" class="link-button-shop">SHOP NOW</a>
              
            </section>

        </main>
    </body>
</html>